<!DOCTYPE html>
<html>
<head>
<title>Try Outs</title>
<script type="text/javascript" src="jquery-3.0.0.js"></script>
<script type="text/javascript" src="script.js"></script>
</head>
<body>
    <div id="firstDiv">
    <h1 id="firstHeader">Options</h1>
    <input type="text" id="input" placeholder="Enter some thing"/>
        <button id ="addButton">add</button>
        <button id ="addAgainButton">undo</button>
        
    </div>
    <div id="secondDiv">
        <ol id="orderedList">
        </ol>
    </div>
</body>
</html>